/*Action Part*/
.action{
    background: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
}
.action-logo{
    display:flex ;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}
.action-logo h1{
    color: #4E47FF;
    font-size: 45px;
}
.action-text{
    text-align: center;
    padding: 40px;
    padding-bottom: 100px;
}

.action-text h1{
    font-size: 80px;
}


/*Shaired Style*/
.primary-btn{
    color: white;
    background: #4E47FF;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px;
    border: none;
}
main{
    background: #F5F8FF;
}